<?php
// Database Host
$dbhost = "127.0.0.1"

// Database Name
$dbname = "database"

// Database User
$dbuser = "dbuser"

// Database Password
$dbpass = "dbpass"
	
// Database Table Prefix
$dbprefix = "fcc_"
?>